<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence version="3.0" xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd" xmlns:ns2="https://jakarta.ee/xml/ns/persistence/orm" xmlns="https://jakarta.ee/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <persistence-unit name="org.jvnet.hyperjaxb3.ejb.tests.episodes.b.tests">
        <class>org.jvnet.hyperjaxb3.ejb.tests.episodes.a.tests.AType</class>
        <class>org.jvnet.hyperjaxb3.ejb.tests.episodes.a.tests.A1Type</class>
    </persistence-unit>
</persistence>
