<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<import resource="classpath*:org/jvnet/hyperjaxb3/ejb/plugin/applicationContext.xml"/>

	<bean name="embeddableAttributesMapping" class="org.jvnet.hyperjaxb3.ejb.jpa1.strategy.mapping.EmbeddableAttributesMapping"/>
	
	<bean name="marshalMappings"
		class="org.jvnet.hyperjaxb3.ejb.jpa1.strategy.mapping.MarshalMappings">
		<property name="mapping" ref="mapping"/>
		<property name="ignoring" ref="ignoring"/>
	</bean>

	<bean name="persistenceFactory"
		class="org.jvnet.hyperjaxb3.ejb.jpa1.strategy.processor.PersistenceFactory">
	</bean>
	
	<bean name="persistenceMarshaller"
		class="org.jvnet.hyperjaxb3.ejb.jpa1.strategy.processor.PersistenceMarshaller">
	</bean>
	
	<bean name="createXAnnotations" class="org.jvnet.hyperjaxb3.ejb.jpa1.strategy.annotate.CreateXAnnotations">
	</bean>
	

</beans>