<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence version="3.0"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/persistence">
    <persistence-unit name="##generated" transaction-type="RESOURCE_LOCAL">
	<description>Purchase Order Persistence Unit</description>
	<mapping-file>org/jvnet/hyperjaxb3/ejb/tests/po/orm.xml</mapping-file>
        <!--class>org.jvnet.hyperjaxb3.ejb.tests.po.USAddress1111</class-->
    </persistence-unit>
</persistence>
