<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean name="naming" class="org.jvnet.hyperjaxb3.ejb.extensions.naming.pre_0_6_0.impl.CustomSimpleNoUnderscoreNaming">
		<property name="reservedNames" ref="reservedNames"/>
		<property name="ignoring" ref="ignoring"/>
	</bean>

</beans>