name: Maven CI

on:
  push:
    branches: [ master, 0.15.x ]
  pull_request:
    branches: [ master, 0.15.x ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Maven with JDK 8
      run: mvn -fn -Pall -no-transfer-progress clean install
  
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Maven with JDK 11
      run: mvn -fn -Pall -no-transfer-progress  clean install

    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Maven with JDK 17
      run: mvn -fn -Pall -no-transfer-progress  clean install
