name: Maven CI

on:
  push:
    branches: [ master, jaxb-tools-3.x, jaxb-tools-2.x, 0.15.x ]
  pull_request:
    branches: [ master, jaxb-tools-3.x, jaxb-tools-2.x, 0.15.x ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17', '21', '25-ea' ]
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    - name: Maven with JDK ${{ matrix.java }}
      run: mvn -Psonatype-oss-release -Dgpg.skip -no-transfer-progress clean install
    - name: Maven with JDK ${{ matrix.java }} - Reproducible
      run: mvn -Psonatype-oss-release -Dgpg.skip -no-transfer-progress clean verify artifact:compare -Dcompare.fail=false
    - name: Maven with JDK ${{ matrix.java }} - Parallel
      run: mvn -T4 -Pall -no-transfer-progress clean install
    - name: Maven with JDK ${{ matrix.java }} - Release dry run
      run: mvn -Prelease-dry-run,sonatype-oss-release,release -DperformRelease -DdryRun=true -Darguments="-Dgpg.skip=true" -B release:clean release:prepare clean install

  build_and_test_mvn4:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21', '25-ea' ]
    steps:
    - uses: actions/checkout@v4
    - name: Setup Maven4
      run: |
        MAVEN_VERSION=4.0.0-rc-3
        wget https://archive.apache.org/dist/maven/maven-4/$MAVEN_VERSION/binaries/apache-maven-$MAVEN_VERSION-bin.tar.gz
        tar xzvf apache-maven-$MAVEN_VERSION-bin.tar.gz
        sudo mv apache-maven-$MAVEN_VERSION /opt/maven
        sudo rm -f /usr/bin/mvn # Remove existing symbolic link if it exists
        sudo ln -s /opt/maven/bin/mvn /usr/bin/mvn  # Create new symbolic link
    - name: Setup JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    - name: Maven4 with JDK ${{ matrix.java }}
      run: mvn -Psonatype-oss-release -Dgpg.skip -no-transfer-progress clean install
    - name: Maven4 with JDK ${{ matrix.java }} - Reproducible
      run: mvn -Psonatype-oss-release -Dgpg.skip -no-transfer-progress clean verify artifact:compare -Dcompare.fail=false
    - name: Maven4 with JDK ${{ matrix.java }} - Parallel
      run: mvn -T4 -Pall -no-transfer-progress clean install
