name: Maven CI

on:
  push:
    branches: [ master, jaxb-tools-2.x, 0.15.x ]
  pull_request:
    branches: [ master, jaxb-tools-2.x, 0.15.x ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: 8
        distribution: 'temurin'

    - name: Maven with JDK 8
      run: mvn -Pall -no-transfer-progress clean install

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'temurin'

    - name: Maven with JDK 11
      run: mvn -Pall -no-transfer-progress  clean install

    - name: Maven with JDK 11 - Release dry run
      run: mvn -Prelease-dry-run,sonatype-oss-release,release -DperformRelease -DdryRun=true -Darguments="-Dgpg.skip=true" -B release:clean release:prepare clean install

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'

    - name: Maven with JDK 17
      run: mvn -Pall -no-transfer-progress  clean install

    - name: Maven with JDK 17 - Release dry run
      run: mvn -Prelease-dry-run,sonatype-oss-release,release -DperformRelease -DdryRun=true -Darguments="-Dgpg.skip=true" -B release:clean release:prepare clean install
